body {
    font-family: Ubuntu;
    background-color: skyblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
h1
{
    font-family:Ubuntu;
    font-size:50px;
}